<% if @recipe.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

        <ul>
        <% @recipe.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
    </div>
<% end %>
<%= form_for @recipe do |f| %>
    <p>
        <%= f.label :title, "Title" %>
        <%= f.text_field(:title) %>
    </p>
    <p>
        <%= f.fields_for :ingredients do |ingredient_fields| %>
            <p>
                <%= ingredient_fields.label :name %>
                <%= ingredient_fields.text_field :name %>
            </p>
            <p>
                <%= ingredient_fields.label :quantity %>
                <%= ingredient_fields.text_field :quantity %>
            </p>
        <% end %>
    </p>
    <p>
        <%= f.submit %> 
    </p>
<% end %>
